#virtual environment
venv/
venvn/

#run time files
tmp/
local_model/
site/
.vscode/
sientia_tracker/__pycache__
dist/


# demo files
/demo.py
data_demo/

# Coverage reports
.coverage
coverage.xml
pytest.xml

# Ignore all __pycache__ directories recursively
**/__pycache__/

